
.container-fluid { height: 100vh; }
.sidebar { background-color: #1b2a39; border-right: 1px solid #171616; }
.action-list { cursor: move; }
body { 
    background-color: #343a40; 
    color: #ffffff;
    line-height: normal;
}
.settings { background-color: #1b2a39; border: 1px solid #171616; color: #ffffff;}
form { background-color: #1b2a39; color: #ffffff; }
.modal-content { background-color: #1b2a39; color: #ffffff; }
.folder-header {
    cursor: pointer;
    background-color: #2d3748;
    color: white;
    border: 1px solid #4a5568 !important;
}

.folder-header:hover {
    background-color: #4a5568;
}

.list-group-item {
    background-color: #1a202c;
    color: white;
    border: none;
    /* border: 1px solid #4a5568; */
    margin: 2px 0;
}

.caret {
    margin-right: 8px;
    transition: transform 0.2s;
}
h3 {
    color: white;
    margin-bottom: 1%;
    margin-top: 2%;
    font-size: 80%;
    padding-bottom: 1%;
    border-bottom: .1rem solid #01041abd;
}
.recbut {
    padding: 5% 1rem; 
    background: #4a5568; 
    border: none; 
    border-radius: 4px; 
    color: white;
    font-size: 50%;
}
.addbut {
    margin-top: 1rem; 
    padding: 0.75rem 1.5rem; 
    background: #42e15c;
    border: none; 
    border-radius: 4px; 
    color: white;
}
.savebut {
    margin-top: 2rem; 
    padding: 0.75rem 1.5rem; 
    background: #4299e1; 
    border: none; 
    border-radius: 4px; 
    color: white;
}
.key-display {
    font-size: 70%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    padding-left: 15px; 
    padding-right: 15px;
    background: #1a202c;
}
.form-text-input {
    background-color: #1a202c;
    color: white;
    border: 1px solid #4a5568;
}
.details {
    font-size: 40%;
    margin: 0%;
    padding-top: 4%;
}
.details-path {
    font-size: 70%;
    color: #bcc6ce;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}
.details-byte {
    font-size: 70%;
    color: #409d1f;

}
.add-action {
    display: inline-flex;
    justify-content: right;
    position: right;
    align-self: right;
}
.action-name {
    font-size: 100%;
}
.col-action-list {
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-group-item {
    margin: 2%;
    padding: 2%;

}
.click-action {
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.15s ease-in-out; /* Smooth background color transition for hover effect */
}

.click-action:hover {
    background-color: #f8f9fa; /* Optional: Add a slight background color change on hover for visual feedback */
}

.click-action:active {
    background-color: #e9ecef; /* Slightly darker grey when actively clicked/pressed, adjust as needed */
    /* You could also add a border or other visual cue here if you prefer, e.g., border: 1px solid #ced4da; */
}
#sortable .list-group-item {
    cursor: pointer;
}
#sortable .list-group-item:hover {
    background-color: #717375;
}
.selected {
    background-color: #1467b9;
}