
.container-fluid { height: 100vh; }
.sidebar { background-color: #1b2a39; border-right: 1px solid #171616; }
.action-list { cursor: move; }
body { background-color: #343a40; color: #ffffff; }
.settings { background-color: #1b2a39; border: 1px solid #171616; color: #ffffff;}
form { background-color: #1b2a39; color: #ffffff; }
.modal-content { background-color: #1b2a39; color: #ffffff; }
.folder-header {
    cursor: pointer;
    background-color: #2d3748;
    color: white;
    border: 1px solid #4a5568 !important;
}

.folder-header:hover {
    background-color: #4a5568;
}

.list-group-item {
    background-color: #1a202c;
    color: white;
    border: 1px solid #4a5568;
    margin: 2px 0;
}

.caret {
    margin-right: 8px;
    transition: transform 0.2s;
}